name: CI

on: [push, pull_request]

jobs:
  check:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable, 1.39.0]

    steps:
    - uses: actions/checkout@v1
    - name: rust-toolchain
      uses: actions-rs/toolchain@v1.0.3
      with: 
        toolchain: ${{ matrix.toolchain }}
    - name: cargo check
      uses: actions-rs/cargo@v1.0.1
      with:
        command: check
        toolchain: ${{ matrix.toolchain }}

  test:
    needs: [check]
    
    runs-on: ubuntu-latest    
    strategy:
      matrix:
        toolchain: [nightly, stable, 1.39.0]

    steps:
    - uses: actions/checkout@v1
    - name: rust-toolchain
      uses: actions-rs/toolchain@v1.0.3
      with: 
        toolchain: ${{ matrix.toolchain }}
    - name: build
      uses: actions-rs/cargo@v1.0.1
      with:
        command: build
        toolchain: ${{ matrix.toolchain }}
    - name: test
      uses: actions-rs/cargo@v1.0.1
      with:
        command: test
        toolchain: ${{ matrix.toolchain }}

  clippy:
    needs: [check]
    
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v1
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.3
        with: 
          toolchain: stable
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
      
  fmt:
    needs: [check]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.3
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1.0.1
        with:
          command: fmt
          args: --all -- --check
